body {
  font-family: 'Poppins', sans-serif;
}

section {
  max-width: 327px;
  display: grid;
  padding: 24px;
  background-color: #dfe1e6;
}

.card {
  border-width: 2px solid gray;
  border-radius: 10px;
  background-repeat: no-repeat;
  width: 85%;
  margin: 8px;
  background-color: white;
  padding: 16px;
}

img {
  border-radius: 8px;
  height: 200px;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  line-height: 24px;
}

h3 {
  font-size: 13px;
  text-align: left;
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 12px;
  padding: 0;
}

p {
  font-size: 14px;
  line-height: 16px;
}

.description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  grid-area: 1px;
}

.description img {
  width: 8px;
  height: 8px;
  color: #c1c7d0;
}

.language-used li {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 8px;
  row-gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px 6px;
  border: 1px solid;
  border-radius: 8px;
  color: #6070ff;
}

button {
  border: 1px solid;
  border-radius: 8px;
  line-height: 24px;
  padding: 4px;
  font-size: 17px;
  color: #6070ff;
  text-align: center;
  vertical-align: center;
  letter-spacing: 3%;
  offset: 0, 8px;
}

button:hover {
  color: #fff;
  background-color: #6070ff;
}

.about {
  background-color: #fff;
  padding: 16px;
  width: 87%;
}

i {
  width: 22px;
  height: 24px;
}

.social-links li a i {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 8px;
  row-gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  color: #505f79;
  padding: 0;
}

.skills {
  display: block;
}

.skills h3 {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eee;
}

.skills-type img {
  width: 30px;
  height: 30px;
  border-radius: 10%;
  background-color: #f7f7f9;
  margin-left: 8px;
}

.skills-type span {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 2px;
  background-color: #f7f7f9;
}
