:root {
  --primary-color: #fff;
  --secondary-color: #6070ff;
  --third-color: #172b4d;
  --paragraph-color: #344563;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Base Style */

a {
  text-decoration: none;
}

i {
  color: #505f79;
  fill: currentColor;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 700 bold;
  font-size: 40px;
  line-height: 50px;
  color: var(--third-color);
  display: block;
}

h2 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: var(--third-color);
  fill: solid;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-style: medium;
  text-transform: uppercase;
}

p {
  display: flex;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: var(--paragraph-color);
  margin: 10px 0;
}

img {
  width: 100%;
}

button {
  display: flex;
  align-items: center;
  background: transparent;
  font-family: inherit;
  border: 1px solid;
  border-radius: 8px;
  line-height: 24px;
  padding: 4px;
  font-size: 17px;
  color: var(--secondary-color);
  letter-spacing: 3%;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/* Label */
.label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 3%;
  padding: 4px 12px;
  color: var(--secondary-color);
  background-color: #ebebff;
  border-radius: 8px;
}

/* horizontal-list */
.horizontal-list {
  display: flex;
  align-items: center;
}

.horizontal-list > *:not(:last-child) {
  margin-right: 8px;
}

.horizontal-list i {
  width: 18px;
  height: 20px;
}

/* Vertical List */
.vertical-list {
  display: flex;
  flex-direction: column;
}

.vertical-list *:not(:last-child) {
  margin-bottom: 12px;
}

/* Navbar */

.navbar {
  height: 70px;
}

header h2 {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 24px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar-icon {
  border: none;
}

.navbar ul {
  display: none;
}

.navbar li {
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  color: #344563;
  padding: 20px;
  margin: 0 5px;
  line-height: 20px;
  font-size: 15px;
}

.nav-list a:hover {
  border-bottom: 2px #2a9df4 solid;
}

/* Hero section */

.hero {
  display: flex;
  background-image: url(/images/Header-bg@2x.png);
  background-size: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  justify-content: center;
  padding: 0 24px;
  background-color: var(--primary-color);
  border-bottom-left-radius: 15%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Work section */

.works {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  background-color: #dfe1e6;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
  padding: 16px;
  width: 100%;
  margin-bottom: 88px;
}

.card img {
  border-radius: 8px;
  width: 100%;
}

.card_content {
  align-items: flex-start;
}

.card_content > *:not(:last-child) {
  margin-bottom: 12px;
}

.bullet_list {
  display: flex;
  align-items: center;
}

.bullet_list > li {
  display: flex;
  align-items: center;
}

.bullet_list > li:not(:last-child) {
  position: relative;
  margin-right: 16px;
}

.bullet_list > li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: calc(50% - 20%);
  left: 100%;
  height: 8px;
  width: 10px;
  border-radius: 50%;
  margin-left: 4px;
  background-color: #e5e5e5;
}

/* About section */

.about {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
}

.social-links {
  display: flex;
  flex-direction: column;
}

.social-links > *:first-child {
  margin-bottom: 12px;
}

.icon_btn_dropdown {
  border: none;
  border-radius: none;
  transition: opacity 0.2s;
}

.meta-info {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
}

.dropdown-skill {
  display: block;
}

.dropdown-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin-right: 14px;
}

.dropdown-skill i {
  width: 30px;
  height: 30px;
  margin-right: 14px;
  background-color: #f7f7f9;
  fill: solid;
}

.dropdown-headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 12px;
  border-bottom: 1px solid #eee;
}

.mini-card {
  display: flex;
  background-color: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  margin: 10px 10px;
}

.mini-card *:first-child {
  margin-right: 12px;
}

.mini-card-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #253858;
}

.mini-card img {
  width: 48px;
}

/* contact section */

.address {
  background-image: url(/images/contact-form-background-shapes@2x.png);
  background-position: right top;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-color: var(--secondary-color);
  fill: solid;
  border-top-left-radius: 10%;
  padding-top: 40px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  width: 90%;
  max-width: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.contact p {
  text-align: center;
}

.contact h2 {
  font-size: 40px;
  text-align: center;
  color: #fff;
}

.contact > p {
  color: #ebebff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

form {
  width: 100%;
}

input,
textarea {
  width: 100%;
  margin: auto;
  border-radius: 8px;
  margin-bottom: 16px;
  border: solid 1px #333;
  box-sizing: border-box;
  color: #172b4d;
  font-family: inherit;
}

label {
  color: var(--primary-color);
}

input {
  height: 48px;
  box-shadow: none;
}

textarea {
  height: 117px;
  padding: 2px 4px 4px 4px;
}

.btn_submit {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}

.shape {
  width: 135px;
  display: center;
  margin: 32px 8px 12px 22px;
}

/* Media Queries section */

@media screen and (min-width: 768px) and (max-width: 1440px) {
  /* navbar */
  .navbar ul {
    display: flex;
  }

  .navbar-icon {
    display: none;
  }

  .navbar {
    padding: 0 155px;
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  h1 {
    font-weight: 700 bold;
    font-size: 48px;
    line-height: 60px;
  }

  h2 {
    font-size: 40px;
    line-height: 52px;
  }

  .about-details h2 {
    font-size: 40px;
    font-weight: 700 bold;
  }

  header h2:hover {
    transform: translateX(90px) rotate(45deg);
  }

  /* Hero-section */

  .profile {
    width: 60%;
    margin: 200px auto;
  }

  p {
    font-size: 20px;
    line-height: 28px;
    display: center;
  }

  /* work section */

  .works {
    margin: 0;
    padding: 142px;
  }

  .works :last-child {
    margin-bottom: 0;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 142px;
  }

  .card img {
    width: 544px;
  }

  .card_content {
    width: 496px;
    padding: 48px;
  }

  /* About Me Section */

  .about {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    border-top-right-radius: 15%;
  }

  .about-details {
    padding: 142px 20px 122px 142px;
  }

  .about-dropdown {
    flex: 0 0 50%;
    padding: 142px 87px 122px 20px;
  }

  .vertical-list-dropdown {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
  }

  .mini-card {
    display: block;
    margin-right: 12px;
    padding: 12px 62px 16px 12px;
    color: #253858;
    font-size: 15px;
    font-weight: 500 medium;
  }

  .mini-card img {
    margin-bottom: 16px;
  }

  /* Contact section */
  .contact button {
    align-self: center;
    margin: auto;
    transition: 1s ease-in-out;
    color: #2a9df4;
  }

  .shape {
    display: none;
  }

  .col-rev {
    flex-direction: row-reverse;
  }
}
