body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

/* Hero section */

/* Main Container */

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Work section */

.works {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 88px;
  padding: 12px 24px;
  background-color: #dfe1e6;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-color: white;
  padding: 16px;
}

.card_img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card_content > *:not(:last-child) {
  margin-bottom: 12px;
}

.heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

.text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.bullet_list {
  display: flex;
  align-items: center;
}

.bullet_list > li {
  display: flex;
  align-items: center;
}

.bullet_list > li:not(:last-child) {
  position: relative;
  margin-right: 32px;
}

.bullet_list > li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: calc(50% - 4px);
  left: 100%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-left: 12px;
  background-color: #e5e5e5;
}

button {
  display: flex;
  align-items: center;
  background: transparent;
  font-family: inherit;
  border: 1px solid;
  border-radius: 8px;
  line-height: 24px;
  padding: 4px;
  font-size: 17px;
  color: #6070ff;
  letter-spacing: 3%;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  color: #fff;
  background-color: #6070ff;
}

/* Label */
.label {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 3%;
  padding: 4px 12px;
  color: #6070ff;
  background-color: #e5e5e5;
  border-radius: 8px;
}

/* horizontal-list */
.horizontal-list {
  display: flex;
  align-items: center;
}

.horizontal-list > *:not(:last-child) {
  margin-right: 8px;
}

/* Vertical List */
.vertical-list {
  display: flex;
  flex-direction: column;
}

.vertical-list *:not(:last-child) {
  margin-bottom: 12px;
}

/* About section */

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 88px;
  padding: 12px 24px;
  background-image: url(/images/about-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #dfe1e6;
}

.social-links {
  display: flex;
  flex-direction: column;
}

.social-links > *:first-child {
  margin-bottom: 12px;
}

.icon_btn_dropdown {
  border: none;
  border-radius: none;
  transition: opacity 0.2s;
}

.meta-info {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
}

.dropdown-skill {
  display: block;
}

.dropdown-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin-right: 14px;
}

.dropdown-skill i {
  width: 30px;
  height: 30px;
  margin-right: 14px;
  background-color: #f7f7f9;
}

.dropdown-headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 12px;
  border-bottom: 1px solid #eee;
}

.mini-card {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 8px 12px;
  border-color: #f7f7f9;
}

.mini-card *:first-child {
  margin-right: 16px;
}

.mini-card-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #253858;
}

/* contact section */

.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 88px;
  padding: 12px 24px;
  background-image:
    url(/images/contact-form-mobile.png),
    url(/images/Contact-me.png);
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
  position: relative;
  height: 710px;
  width: 310px;
}

.contact h2 {
  font-size: 40px;
  text-align: center;
  color: #fff;
}

.contact-title {
  color: #ebebff;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.text_contact {
  color: #ebebff;
}

.info input,
textarea {
  width: 309px;
  border-radius: 8px;
  margin-bottom: 16px;
  border: solid 1px #333;
  box-sizing: border-box;
  color: #172b4d;
  font-family: inherit;
}

.info label {
  color: #fff;
}

.info input {
  height: 48px;
  box-shadow: none;
}

.info textarea {
  height: 117px;
  padding: 2px 4px 4px 4px;
}

.btn_submit {
  color: #6070ff;
  background-color: #fff;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}

.footer_img {
  position: center;
  margin: 80px;
  color: #0d151e;
  width: 134px;
  height: 2px;
  border-radius: 10px;
}
